<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Benner.NoSQLRepository" version="2.8.2" targetFramework="net462" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net462" />
  <package id="DnsClient" version="1.2.0" targetFramework="net462" />
  <package id="MongoDB.Bson" version="2.10.2" targetFramework="net462" />
  <package id="MongoDB.Driver" version="2.10.2" targetFramework="net462" />
  <package id="MongoDB.Driver.Core" version="2.10.2" targetFramework="net462" />
  <package id="MongoDB.Libmongocrypt" version="1.0.0" targetFramework="net462" />
  <package id="MsgPack.Cli" version="1.0.1" targetFramework="net462" />
  <package id="Ninject" version="3.3.4" targetFramework="net462" />
  <package id="Serilog" version="2.6.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Fluentd" version="0.4.0" targetFramework="net462" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.3.0" targetFramework="net462" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net462" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
</packages>