<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="fluentd:Host" value="bnu-vtec012" />
    <add key="fluentd:Port" value="24224" />
    <add key="fluentd:Tag" value="lgpd.repository.logs" />
  </appSettings>
</configuration>