<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Benner.LGPDRepository" version="1.9.0" targetFramework="net462" />
  <package id="Benner.NoSQLRepository" version="1.8.0" targetFramework="net462" />
  <package id="MsgPack.Cli" version="1.0.1" targetFramework="net462" />
  <package id="Ninject" version="3.3.4" targetFramework="net462" />
  <package id="Serilog" version="2.6.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Fluentd" version="0.4.0" targetFramework="net462" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.3.0" targetFramework="net462" />
  <package id="StrongNamer" version="0.2.5" targetFramework="net462" />
</packages>